<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script>window.$ = window.Angular = require('angular');</script>
   
  </head>
  <body>
    

     <div ng-app="nut">
       <button ng-click="queryAll()">Load data</button>
         <div ng-controller="MssqlCtrl">
             <h2>{{ header }}</h2>
               <table border=1>
                 <thead>
                   <tr>
                      <th>id</th>
                     <th>fname</th>
                     <th>lname</th>
                   </tr>
                 </thead>
               <tbody>
                  <tr ng-repeat="x in datas">
                    <td>{{x.id}}</td>
                    <td>{{x.fname}}</td>
                    <td>{{x.lname}}</td>
                    
                  </tr>
               </tbody>
               </table>
         </div>

         <div ng-controller="MysqlCtrl">
             <h2>{{ header }}</h2>
             
             <table border=1>
                 <thead>
                   <tr>
                      <th>id</th>
                     <th>fname</th>
                     <th>lname</th>
                   </tr>
                 </thead>
               <tbody>
                  <tr ng-repeat="x in datas">
                    <td>{{x.id}}</td>
                    <td>{{x.fname}}</td>
                    <td>{{x.lname}}</td>
                    
                  </tr>
               </tbody>
               </table>
         </div>
     </div>
     



  </body>

  <script>
    // You can also require other files to run in this process
    require('./controllers/MssqlController.js');
    //require('./controllers/MysqlController.js')
  </script>
</html>
